.SiginWrapper .login {
  background-color: #ff444f;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  font-size: medium;
  height: 2rem;
  width: 8rem;
  border-radius: 0.2rem;
}

.SiginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.75);
}
.SiginWrapper input,
.SiginWrapper button {
  margin-bottom: 1.5rem;
}

.SiginWrapper input {
  width: 18rem;
  outline: none;
  border: none;
  height: 2.5rem;
  font-size: large;
}
.SiginWrapper button {
  width: 4rem;
  height: 2rem;
}
.Sigin {
  background-color: #ff444f;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.title {
  color: #ff444f;
  margin-bottom: 1rem;
  font-size: xxx-large;
  text-align: center;
}
