body {
  margin: 0 auto;
  font-family: Roboto;
}

.title{
  color: #ff444f;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #151717;;
  padding: 0 15rem;
  height: 100vh;
  font-family: Roboto;
}

select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid black;
  width: 100%;
  border-radius: 0.5rem;
}

.v-center {
  text-align: center;
}

.p-2 {
  padding: 1rem;
  margin-bottom: 1rem;
}

.rounded {
  border-radius: 0.5rem;
}

.bordered {
  border: 1px solid #6e6e6e;
}

.txt-special-grey {
  font-size: 0.8rem;
  color: #c2c2c2;
}

.txt-market-running {
  font-size: 0.8rem;
  color: #14cc00;
}

.txt-error {
  font-size: 0.8rem;
  color: #fa3939;
}
