body {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dfe6e9;
    padding: 1rem 5rem;
    height: 100vh;
    font-family: Georgia, "Times New Roman", Times, serif;
}

select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid black;
    width: 100%;
    border-radius: 0.5rem;
}

.v-center {
    text-align: center;
}

.pa-2 {
    padding: 1rem;
}

.rounded {
    border-radius: 0.5rem;
}

.bordered {
    border: 1px solid black;
}

.txt-special-grey {
    font-size: 0.8rem;
    color: #9b9b9b;
}

.txt-market-running {
    font-size: 0.8rem;
    color: #14cc00;
}

.txt-error {
    font-size: 0.8rem;
    color: #fa3939;
}
