body {
  margin: 0 auto;
}

.container {
  width: 400px;
  padding: 1rem 2rem;
}

select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid black;
  width: 100%;
  border-radius: 0.5rem;
}

.v-center {
  text-align: center;
}

.pa-2 {
  padding: 1rem;
}

.rounded {
  border-radius: 0.5rem;
}

.bordered {
  border: 1px solid black;
}

.txt-special-grey {
  font-size: 0.8rem;
  color: #9b9b9b;
}

.txt-market-running {
  font-size: 0.8rem;
  color: #14cc00;
}

.txt-error {
  font-size: 0.8rem;
  color: #fa3939;
}