.purchase_button {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.purchase_higher {
    width: 40%;
    font-size: 1.2rem;
    color: white;
    background-color: #4bb4b3;
    font-weight: 500;
    border-radius: 0.5rem;
    height: 3rem;
    cursor: pointer;
    border: none;
}

.purchase_lower {
    width: 40%;
    font-size: 1.2rem;
    color: white;
    background-color: #ec3f3f;
    font-weight: 500;
    border-radius: 0.5rem;
    height: 3rem;
    cursor: pointer;
    border: none;
}